$primary-color: #333333;
$seconday-color: #d6b064;

.landing-page {
  font-family: "Positype - AauxNext-SemiBold";
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;

  .top-half {
    flex-grow: 4;
    height: 60%;
    background-color: $primary-color;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    transition: all 0.5s ease;

    .title {
      color: $seconday-color;
      font-size: 12rem;
      line-height: 12rem;
      margin: 0 0 -2rem 1rem;
      transition: all 0.5s ease;
      user-select: none;
      cursor: default;
    }
  }

  .bottom-half {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    height: 40%;
    background-color: $seconday-color;
    font-size: 3rem;
    transition: all 0.5s ease;
    z-index: 5;
    justify-content: space-between;

    .match-choice {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      justify-content: flex-end;
      align-items: flex-start;
      color: $primary-color;
      width: 50%;
      cursor: default;
      transition: all 0.5s ease;

      .title {
        user-select: none;
      }

      .input-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 0;
        transition: all 0.5s ease;

        .name-input {
          height: 0;
          width: 60%;
          margin-right: 1rem;
          opacity: 0;
          border: none;
          outline: none;
          font-size: 2.5rem;
          color: $primary-color;
          transition: all 0.5s ease;
          background-color: transparent;
          border-bottom: 1px solid $primary-color;
          font-family: "Positype - AauxNext-Regular";
        }

        .arrows-icon {
          height: 0;
          opacity: 0;
          color: $primary-color;
          transition: all 0.5s ease;
          cursor: pointer;

          &:active {
            transform: scale(0.75);
          }
        }
      }

      .table-wrapper {
        width: 100%;
        height: 0%;
        opacity: 0;
        transition: all 0.75s ease;
        overflow-y: auto;

        .match-table {
          transform: scaleY(0);
          text-align: left;
          max-height: 5rem;
          border-collapse: collapse;

          th {
            font-size: 2rem;
            color: #757575;
            border-bottom: 1px solid $primary-color;
            font-family: "Positype - AauxNext-Light";
          }

          td {
            font-size: 1.5rem;
            padding: 0.5rem;
          }

          .arrows-icon {
            height: 1.5rem;
            color: $primary-color;
            transition: all 0.5s ease;
            cursor: pointer;

            &:active {
              transform: scale(0.75);
            }
          }
          .match-select-input {
            display: flex;
            flex-direction: row;
            input {
              background: none;
              border: none;
              font-size: 1.5rem;
              border-bottom: 1px solid $primary-color;
              font-family: "Positype - AauxNext-Regular";
              outline: none;
              transition: all 0.5s ease;
              width: 0%;
            }
            .join-button {
              font-family: "Positype - AauxNext-SemiBold";
              background: none;
              font-size: 1.5rem;
              opacity: 0;
              border: none;
              outline: none;
              margin-top: 0.1rem;
              transition: all 0.5s ease;
              &:active {
                transform: scale(0.75);
              }
            }
            &.selected-row {
              input {
                width: 100%;
              }
              .join-button {
                opacity: 1;
              }
            }
          }
        }
      }

      &:hover {
        background-color: $seconday-color;
        width: 80%;

        .input-wrapper {
          height: 3rem;

          .name-input {
            height: 3rem;
            opacity: 1;
          }

          .arrows-icon {
            height: 3rem;
            opacity: 1;
          }
        }

        .table-wrapper {
          height: 100%;
          opacity: 1;

          .match-table {
            transform: scaleY(1);
            height: 100%;
          }
        }
      }
    }

    &:hover {
      background-color: $primary-color;
      flex-grow: 3;
      height: 60%;
    }
  }

  .bottom-half:hover + .top-half {
    background-color: $seconday-color;
    flex-grow: 2;
    height: 40%;

    .title {
      color: $primary-color;
      margin: 0 0 2rem 1rem;
    }
  }
}
