$primary-color: #333333;
$seconday-color: #d6b064;

.match-container {
  height: 100vh;
  width: 100vw;

  button {
    font-size: 20px;
    background-color: #d6b064;
    color: #282c34;
    border: solid 2px #757575;
    border-radius: 5px;
    padding: 10px 40px;
    margin-left: 20px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  .join {
    background-color: #c7c7c7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    height: 150px;
    width: 400px;

    input {
      border-radius: 5px;
      padding: 10px;
      border: solid 2px #757575;
      font-size: 20px;
    }
  }

  .header {
    height: 10vh;
    font-size: 8vh;
    display: flex;
    align-items: flex-end;
    padding-left: 2rem;
    color: $primary-color;
    background-color: $seconday-color;
    font-family: "Positype - AauxNext-SemiBold";
    cursor: default;

    p {
      margin: 0;
      line-height: 1;
    }
  }

  .game-wrapper {
    display: flex;
    height: 90vh;
    justify-content: center;
    background-color: $primary-color;

    .game {
      height: 100%;

      canvas {
        height: 100%;
      }
    }

    .otherStuff {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      color: white;
      font-size: 24px;

      .players {
        .dead {
          color: gray;
          text-decoration: line-through;
        }

        .self {
          color: lightgreen;
        }

        .owner {
          color: #d6b064;
        }
      }
    }
  }
}
