.score-screen {
  text-align: left;
  width: 70%;
  color: white;
  font-size: 24px;
  padding: 20px;

  .player {
    width: 100%;
    display: flex;

    &.alive {
      color: #d6b064;
    }

    .name {
      width: 200px;
    }
  }
}
