body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

@font-face {
  font-family: "Positype - AauxNext-Light";
  src: url("./fonts/Positype - AauxNext-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Positype - AauxNext-Regular";
  src: url("./fonts/Positype - AauxNext-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Positype - AauxNext-SemiBold";
  src: url("./fonts/Positype - AauxNext-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
